<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="{{url_for('static', filename='js/ex02.js')}}"></script>
</head>
<body>
    <nav>
        <div id="#nav-placeholder"></div>
    <nav>
    <main>
        <h1>Email: hotel_transylvania@gmail.com</h1>
        <h1>Phone number: 0264219012</h1>
        <h1>Address: Transylvania Ble Ble Ble Avenue nr. 23</h1>
    </main>
</body>
</html>