<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="{{url_for('static', filename='js/ex02.js')}}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler"><a href="index.html">Home</a></button>
        <button class="navbar-toggler"><a href="prices.html">Prices</a></button>
        <button class="navbar-toggler"><a href="contact.html">Contact</a></button>
    </nav>
    <main>
        <h1>Welcome to Hotel Transylvania!</h1>
        <img src={{ url_for('static', filename='img/hotel_t.jpg') }} alt="Transylvania Hotel Image" class="img-fluid">
    </main>
</body>
</html>