<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="{{url_for('static', filename='js/ex02.js')}}"></script>
</head>
<body>
    <nav>
        <div id="#nav-placeholder"></div>
    <nav>
    <main>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Room Type </th>
      <th scope="col">Price </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Single Room </td>
      <td>140$</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Double Room </td>
      <td>  200$</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Twin Room</td>
      <td>170$</td>
    </tr>
  </tbody>
</table>
    </main>
</body>
</html>