<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ex00.css') }}">
    </head>
    <body>
        <h1>Hi there</h1>
        <img src={{ url_for('static', filename='img/cat.png') }} alt="Cat Image">
    </body>
</html>